<!DOCTYPE html>
{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<div class="container">

  <h1>Shop List</h1>

<table class="table">
  <thead>
    <th>Shop</th><th>Description</th><th class='right_handed'> <a href="{% url 'shops:shop_create' %}">Create New</a></th>
    <!-- <th>Address</th>
    <th>Active</th><th>Service Site</th><th>Menu</th> -->
  </thead>

  <tbody>
  {% for shop in object_list %}
    <tr class="default">
      <td>{{ shop.name }}</td>
      <td>{{ shop.description }}</td>

      <td> <a href="shop/{{shop.id}}"><button type="button" class="btn btn-info">Details</button></a>
        <a href="{% url 'shops:shop_update' shop.id %}"><button type="button" class="btn btn-primary">Update</button></a>
        <a href="{% url 'shops:shop_delete' shop.id %}"><button type="button" class="btn btn-warning">Delete</button></a>
      </td>

    </tr>
  {% endfor %}
</tbody>

</table>


</div>


{% endblock %}
