<!DOCTYPE html>
{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block content %}

<div class="container">

  <a href="{% url 'drones:drone_list' %}" style="align:right; float: right;">Drone List</a>
  <h1>Drone Update</h1>

  <form method="POST">
    {% csrf_token %}
    {{ form|crispy }}


    <input class="btn btn-primary" type="submit" value="Save"/>
    <a href="{% url 'drones:drone_delete' drone.id %}"><button type="button" class="btn btn-warning">Delete</button></a>

  </form>

</div>


{% endblock %}
